html {
	background-color: #FFF5EE
}

/*.socialmedia{
margin-top:100px;	
position: fixed;
display: inline;

}
.socialmedia img{
width: 30%;
height:auto;
clear:left;

}*/
.socialmedia{
	left: 0;
	position: fixed;
	top: 10px;
}
.socialmedia a{display: block;
position: relative;
left: 0}
img{
width: 35%;
height:auto;
clear:left;

}

.arrow 	{
	margin-left: 40%;	
	width: 20%;
	height:auto;
	position:relative;
	top: 50px;
	
}

.firstpage{
height: 100vh;

}

body {
	margin: 10px 200px;
	text-align: center;
	background-color:#8A9CAD;
	padding: 20px;
	font-family: 'Lusitana', serif;
	min-width: 65%;
	/*max-width: 250px;*/



}
#box1 {letter-spacing: 6px;
font-family: 'Raleway', sans-serif;
background-image: url('https://scontent-iad3-1.xx.fbcdn.net/v/t34.0-12/13988788_10154199189195751_305511724_n.png?oh=dedfbef0a3d33430df0cd3ed541a4b01&oe=57AACE71');
background-repeat: none;
background-image: cover;
width: auto;
height: auto;
align: center;
margin:80px -180px 0px 250px;
padding: 0px;
max-width: 775px;
}


h1 {font-size: 5em;
	padding-top: 180px ;
	margin-bottom: 0 ; 
	text-align: left;
	margin-left: 10px;
	margin-top: 10px
}
 h2{
 	color: white;
	padding-top: 0;
	margin-top: 0;
	font-weight: lighter;
	text-align: right;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-left: 5px;
	font-size: 2em;
}

#why{
height: 100vh;

}


#gallery{
height: 100vh;

}