html {
	background-color: #FFF5EE
}

/*.socialmedia{
margin-top:100px;	
position: fixed;
display: inline;

}
.socialmedia img{
width: 30%;
height:auto;
clear:left;

}*/
.socialmedia{
	left: 0;
	position: fixed;
	top: 10px;
}
.socialmedia a{display: block;
position: relative;
left: 0}
img{
width: 35%;
height:auto;
clear:left;

}

.arrow 	{
	width: 20%;
	height:auto;
	position:relative;
	top: 50px;
	display: inline-block;
	align-items: center;
}

.firstpage{
height: 100vh;

}

body {
	margin: 10px 200px;
	text-align: center;
	background-color:#8A9CAD;
	padding: 20px;
	font-family: 'Lusitana', serif;
	min-width: 65%;
	/*max-width: 250px;*/



}
#box1 {letter-spacing: 6px;
font-family: 'Raleway', sans-serif;
background-image: url('https://scontent-iad3-1.xx.fbcdn.net/v/t34.0-12/13988788_10154199189195751_305511724_n.png?oh=dedfbef0a3d33430df0cd3ed541a4b01&oe=57AACE71');
background-repeat: none;
background-image: cover;
width: auto;
height: auto;
align: center;
margin:80px -180px 0px 250px;
padding: 0px;
max-width: 775px;
}


h1 {font-size: 5em;
	padding-top: 180px ;
	margin-bottom: 0 ; 
	text-align: left;
	margin-left: 10px;
	margin-top: 10px
}
 h2{
 	color: white;
	padding-top: 0;
	margin-top: 0;
	font-weight: lighter;
	text-align: right;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-left: 5px;
	font-size: 2em;
}

#why{
height: 100vh;

}

h6{

	font-size: 2em;
	color:white;

}

#gallery{
height: 100vh;
padding:0;

}
figure {
	width: 200px;
	height: 200px;
	background: #fff;
	display: inline-block;
	padding:0;
	margin:20px;
	}

/*.chloe{
	background-image:url("(img/veg1.png");	
	width: 100px;
	height: 100px;

}*/

#gallery figure img {

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width:100%;
	height:100%;

}

#gallery figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


span{
	  position: relative;
    top: 5%;
    z-index: 2;
}

h3, h4, h5 {
	font-size: 2em;
	color: white;
	
}
.one, .two, .three {
	width: 200px;
	height: auto;
	position: relative;
	left:60px;
	display: inline-block
	
}
footer {
	color: white;
text-align: left}
#why img {left: 0}

